# ============================================
# MockServer
# ============================================
MOCKSERVER_PORT=1080

# ============================================
# Locust
# ============================================
LOCUST_HOST=http://mockserver:1080
LOCUST_WEB_PORT=8089
LOCUST_PROMETHEUS_PORT=9646

# ============================================
# Grafana
# ============================================
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin

# ============================================
# Test profile
# ============================================
TEST_DURATION=1h
TARGET_RPS_INIT=30
TARGET_RPS_SECOND=20
TARGET_RPS_THIRD=10